/*
 *   888888                                                              888    
 *     "88b                                                              888    
 *      888                                                              888    
 *      888  .d88b.   8888b.  88888b.  88888b.   .d88b.  888d888 .d88b.  888888 
 *      888 d8P  Y8b     "88b 888 "88b 888 "88b d8P  Y8b 888P"  d8P  Y8b 888    
 *      888 88888888 .d888888 888  888 888  888 88888888 888    88888888 888    
 *      88P Y8b.     888  888 888  888 888  888 Y8b.     888    Y8b.     Y88b.  
 *      888  "Y8888  "Y888888 888  888 888  888  "Y8888  888     "Y8888   "Y888 
 *    .d88P                                                                     
 *  .d88P"                                                                      
 * 888P"
 * 
 *  Some of this is adapted from Hyde theme
 */

// Import colors
@import "theme";

// Apply global CSS reset
@import "reset";

// Typographic settings
@import "typography";

:root {
  color-scheme: light dark;
}

:root[data-theme="light"] {
  color-scheme: light;

  // For user override
  img {
    filter: contrast(1);
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;

  // For user override
  img {
    filter: contrast(var(--dark-img-contrast));
  }
}

// For system default setting
@media(prefers-color-scheme: dark) {
  img {
    filter: contrast(var(--dark-img-contrast));
  }
}

.layout {
  color: light-dark(var(--text-light-color), var(--text-dark-color));
  background-color: light-dark(var(--bg-light-color), var(--bg-dark-color));

  a {
    color: light-dark(var(--link-light-color), var(--link-dark-color));
  }
}

// debug view
.debug * {
  outline: 1px solid red;
}

#theme-toggle-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  // margin: .5em auto;
}

#theme-toggle-button svg {
  display: inline-block;
  width: 1.25em;
  height: 1.25rem;
  fill: currentColor;
  padding: 0;
  margin: 0;
}

#theme-toggle-button svg:hover,
#theme-toggle-button svg:focus {
  opacity: 0.7;
}


.icon-link svg {
  display: inline-block;
  width: 1.25em;
  height: 1.25rem;
  fill: currentColor;
}

.icon-link:hover,
.icon-link:focus {
  text-decoration: none;
  opacity: 0.7;
  filter: none;
}

.icon-list {
  margin: .5em auto;
  display: flex;
  flex-wrap: wrap;
  gap: .625rem;
}

.publication-item {
  margin-top: .5em;
}

.highlighted-author {
  font-weight: bold;
  text-decoration: underline;
}

// Sidebar / header
.site-header {
  // By default centered
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  a,
  h1,
  h2,
  h3 {
    margin: 0;
    padding: 0;
  }

  a {
    color: var(--text-color);
  }

  .site-title-container {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    align-items: baseline;
  }
}

// Navigation links
.site-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: .5rem;

  a,
  h1,
  h2 {
    margin: 0;
    padding: 0;
  }


}

// Main content
.content-stack {
  max-width: 38rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  // Ensures footer is at bottom of page
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-footer {
  text-align: center;
  margin-top: auto;
  font-size: 90%;
  padding: 0.5rem 0;
}

.page-title {
  font-size: 250%;
}

.page-header {
  margin-bottom: 0.5rem;
}

// Profile home page
.profile-header {
  margin-bottom: 2rem;
}

.profile-image {
  width: 80%;
  border-radius: 100%;
  margin: 2rem auto;
}

.profile-image.bordered {
  border: .1rem solid light-dark(var(--text-light-color), var(--text-dark-color));
}

.profile-image img {
  clip-path: circle();
}

.profile-blurb {
  width: 80%;
  font-size: 120%;
  text-align: center;
  margin: 1rem auto;
}

.footnotes::before {
  content: '';
  display: block;
  height: .1rem;
  border-top: .1rem dashed light-dark(var(--text-light-color), var(--text-dark-color));
  margin-bottom: 1rem;
  opacity: 0.2;
}

.footnotes {
  margin-top: 4rem;
  font-size: 90%;
}

/*
 * Responsive media queries 
 */

@media(min-width: 48em) {

  // Sticky top left if screen is wide-enough
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    text-align: left;
    padding-left: 2rem;
  }

  .icon-list {
    margin: .5em 0;
  }

  // Switch to col flex if page is wide-enough
  .site-nav {
    flex-direction: column;

    a {
      margin-left: 1rem;
    }
  }

  // Limit width of the content stack if screen is wider
  .content-stack {
    max-width: 38rem;
    margin-left: 18rem;
    margin-right: 2rem;
  }

  .profile-container {
    margin-top: 5rem;
  }

  .profile-image {
    width: 60%;
  }

  .profile-blurb {
    font-size: 110%;
  }
}
