html {
  // Text
  --text-light-color: black;
  --text-dark-color: rgb(230 230 230);
  // BackGround
  --bg-light-color: white;
  --bg-dark-color: rgb(30 30 30);

  // Links
  --link-light-color: #3366CC; // Wiki Blue
  --link-dark-color: #85a3e0; // Lightened Wiki Blue

  --dark-img-contrast: 0.9;
}
