{% macro author(first, last, abbr_first=true, last_first=false, stand_out_first="", stand_out_last="") %}

  {# SET UP VARIABLES #}
  {%- set fname_parts = first | split(pat=" ") -%}
  {%- set fname = fname_parts | first -%}

  {%- set is_stand_out = fname | trim | upper == stand_out_first | trim | upper and last | trim | upper == stand_out_last | trim | upper -%}

  {%- if abbr_first -%}
    {%- set fname = fname | truncate(length=1, end=".") -%}
  {%- endif -%}
  {%- set_global mnames = "" -%}
  {%- if fname_parts | length > 1-%}
    {%- for mname in fname_parts | slice(start=1) -%}
      {%- set abbrev = mname | truncate(length=1, end="") -%}
      {%- set_global mnames = mnames ~ " " ~ abbrev ~ "." -%}
    {%- endfor -%}
  {%- endif -%}

  {%- set fname = fname | trim -%}
  {%- set mnames = mnames | trim -%}
  {%- set last = last | trim -%}
  

  {# RENDERING #}
  {%- if last_first -%}
    {%- set auth = last ~ ", " ~ fname ~ mnames -%}
  {%- else -%}
    {%- set auth = fname ~ mnames ~ " " ~ last -%}
  {%- endif -%}

  {%- if is_stand_out -%}
    {{- "<b>" ~ auth ~ "</b>" -}}
  {%- else -%}
    {{- auth -}}
  {%- endif -%}

{% endmacro author %}

{% macro bibtex_author(author, abbr_first=true, last_first=true, stand_out_first="", stand_out_last="") %}
  {%- set nameparts = author | replace(from="{",to="") | replace(from="}",to="") | split(pat=",") -%} 
  {%- set first_name = nameparts[1] | trim | title -%} 
  {%- set last_name = nameparts[0] | trim | title -%}
  
  {{ self::author(first=first_name, last=last_name, abbr_first=abbr_first, last_first=last_first, stand_out_first=stand_out_first, stand_out_last=stand_out_last) }}
{% endmacro bibtex_author %}


{% macro bibtex_author_list(authors, abbr_first=true, last_first=true, stand_out_first="", stand_out_last="", use_ampersand=true, max_authors=99) %}
  {% set_global and_str = ", and " %}
  {% if use_ampersand %}
    {% set_global and_str = " & " %}
  {% endif %}
  {% set_global authors_fmt = [] %}
  {% for author in authors | slice(end=-1) %}
    {% set auth = self::bibtex_author(author=author, abbr_first=abbr_first, last_first=last_first, stand_out_first=stand_out_first, stand_out_last=stand_out_last) | trim %}
    {% set_global authors_fmt = authors_fmt | concat(with=auth) %}
  {% endfor %}
  {% set last_auth = self::bibtex_author(author=authors | last, abbr_first=abbr_first, last_first=last_first, stand_out_first=stand_out_first, stand_out_last=stand_out_last) | trim %}

  {% if authors_fmt | length == 0 %}
    {{ last_auth | safe}}
  {% elif authors_fmt | length > max_authors %}
    {%- set auth_list_fmt = authors_fmt | slice(end=max_authors) | join(sep=", ") -%}
    {{ auth_list_fmt ~ "<em> et. al</em>" | safe}}
  {% else %}
    {%- set auth_list_fmt = authors_fmt | join(sep=", ") -%}
    {%- set auth_list_fmt = auth_list_fmt ~ and_str ~ last_auth -%}
    {{ auth_list_fmt | safe }}
  {% endif %}
{% endmacro author_list %}


