
{%- import 'macros/bibmacros.html' as macros -%}

{% set bibtex = load_data(path=path, format="bibtex") %} 
{% set publis = bibtex.bibliographies | sort(attribute="tags.year") | reverse %}

<ul class="publication-list">
  {% for entry in publis %}

    {% if entry.entry_type == "misc" %}
      {% if not show_preprints %}
        {% continue %}
      {% endif %}
    {% else %}
      {% if show_only_preprints %} 
        {% continue %}
      {% endif %}
    {% endif %}

    <li>
      <code>{{ entry.entry_type }}</code>
      <br>
      {{ macros::format_ref(entry=entry) }}
      <hr>
    </li>


  {% endfor %}
</ul>

