
{%- import 'macros/bibmacros.html' as macros -%}

{% set bibtex = load_data(path=path, format="bibtex") %} 
{% set publis = bibtex.bibliographies  %}
{% if sort_by_year %}
  {% set_global publis = publis | sort(attribute="tags.year") | reverse %}
{% endif %}

<ul class="publication-list">
  {% for entry in publis %}

    {% if entry.entry_type == "misc" %}
      {% if not show_preprints %}
        {% continue %}
      {% endif %}
    {% else %}
      {% if show_only_preprints %} 
        {% continue %}
      {% endif %}
    {% endif %}

    <li class="publication-item">{{ macros::format_ref(entry=entry) | safe }}</li>

  {% endfor %}
</ul>

