
{% set talks_data = load_data(path=path) | sort(attribute="date") | reverse() %}

<ul class="talk-list">
  {% for item in talks_data %}
  
  <li class="talk-item">
    <span class="talk-title">“{{ item["title"] }}”</span><br>
    {% if item is containing("date") %}
      <span class="talk-date">{{ item["date"] | date(format="%b %d %Y") }}</span>,
    {% endif %}
    <span class="talk-venue">{{ item["venue"] }}</span>
    {% if item is containing("slides") or item is containing("source") %}
      <span class="talk-slides"> (<span class="talk-slides-links">
          {%- if item is containing("slides") -%}<a href="{{ get_url(path=item["slides"]) }}">slides</a>{%- endif -%}
          {%- if item is containing("source") -%}<a href="{{ get_url(path=item["source"]) }}">source</a>{%- endif -%}
        </span>)
      </span>
    {% endif %}
    {% if item is containing("comment") %}
      <br><span class="talk-comment">{{ item["comment"] }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>

