{%- import 'macros/icon.html' as macros -%}

<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <!--Meta & SEO-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">

    <!--Stylesheets-->
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="main.css", trailing_slash=false) }}"> 

    <!--Extra content extendable in other templates-->
    {% block extra_head %}{% endblock %}

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  </head>

  <body>
    <div class="layout {% if config.extra.css_debug %}debug{% endif %}">

        <!--Sidebar/Header-->
        <header class="site-header">
          <div class="site-title-container">
            <a href="{{ config.base_url }}"><h1 class="site-title">{{ config.title }}</h1></a>
            <button id="theme-toggle-button">{{- macros::icon(icon_name="desktop") -}}</button>
          </div>

          <nav class="site-nav">
            {% for link in config.extra.links %}
              {% set url = get_url(path=link.url) %}
              <a href="{{ url }}"><h2>{{link.name}}</h2></a>
            {% endfor %}
          </nav>

          {% if config.extra | get(key="external_links", default=[]) | length() > 0 %}
            <div class="icon-list">
              {% for link in config.extra.external_links %}
                {% set linkname = link.name | lower() | trim() %}
                <a class="icon-link" href={{ link.url | safe}}>{{- macros::icon(icon_name=linkname) -}}</a> 
              {% endfor %}
            </div>
          {% endif %}

        </header>

        <!--Main Page Content-->
        <div class="content-stack">
          <div class="content">
                {% block content %}{% endblock %}
          </div>

          <footer class="site-footer">
          Built with <a href="http://www.getzola.org">Zola</a>, © {{ config.author }} {{ now() | date(format="%Y") }}
          </footer>          
        </div>
    </div>
  </body>

  <script>
  
    const root = document.documentElement;
    const button = document.getElementById("theme-toggle-button");

    const modes = ["system", "light", "dark"];
    const icons = {
      system: '{{- macros::icon(icon_name="desktop") | trim() | safe -}}',
      light:  '{{- macros::icon(icon_name="sun") | trim() | safe -}}',
      dark:   '{{- macros::icon(icon_name="moon") | trim() | safe -}}',
    }

    function getNextTheme(current) {
      return modes[(modes.indexOf(current) + 1) % modes.length]
    }

    function updateButton(theme) {
      const next = getNextTheme(theme);
      button.innerHTML = icons[next];
    }

    function applyTheme(theme) {
       if (theme === "system") {
        root.removeAttribute("data-theme");
        localStorage.removeItem("theme");
      } else {
        root.setAttribute("data-theme", theme);
        localStorage.setItem("theme", theme);
      }

      updateButton(theme);
    }

    // Load saved or default theme
    const theme = localStorage.getItem("theme") || "system";
    applyTheme(theme);

    // Toggling logic
    button.addEventListener("click", () => {
      const current = localStorage.getItem("theme") || "system";
      const next = getNextTheme(current);
      
      applyTheme(next);

    });

  </script>
</html>
