<!DOCTYPE>
<html>
  <head>
    <!--Meta & SEO-->
    <meta charset="utf-8">

    <!--Remote Resources-->

    <!--Stylesheets-->
    <link rel="stylesheets" type="test/css" href="{{ get_url(path="main.css", trailing_slash=false) }}"> 

    <title></title>
  </head>

  <body>

    <div class="links">
      <h1 class="Title"><a href="/">{{ config.title }}</a></h1>
      <ul>
        {% for link in config.extra.links %}
        <li>
          {% set url = get_url(path=link.url) %}
          <a href="{{ url }}"><h2>{{link.name}}</h2></a>
        </li>
        {% endfor %}
      </ul>
      
    </div>

    {% block content %}
    {% endblock %}
  </body>
</html>
