{% extends "index.html" %}

{% block extra_head %}
  {% if page.extra.math %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script>
      MathJax = {
        tex: {inlineMath: {'[+]': [['$', '$']]}},
        svg: {fontCache: 'global'},
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
  {% endif %}
{% endblock %}

{% block content %}
<div class="page-header">
  <h1 class="page-title">{{ page.title }}</h1>
  <div class="post-meta">
    {% if page.description %}
      <p class="post-description">{{ page.description }}</p>
    {% endif %}
    <div class="post-authordate">
      <span class="post-date"> {{ page.date | date(format="%Y-%m-%d")}}</span>
      <div class="post-authors">
        {% for author in page.authors%}
        <span>{{ author | safe }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% if page.toc %}
  {% if page.extra.showtoc or config.extra.showtoc %}
    <div class="post-toc">
      <h1>Table of Contents</h1>
      <ul>
      {% for h1 in page.toc %}
          <li>
              <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
              {% if h1.children %}
                  <ul>
                      {% for h2 in h1.children %}
                          <li>
                              <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                          </li>
                      {% endfor %}
                  </ul>
              {% endif %}
          </li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endif %}

<article class="post">
  <div class="prose">{{ page.content | safe }}</div>
</article>

{% endblock %}
