{% extends "index.html" %} {% block content %}

<div class="page-header">
  <h1 class="page-title">{{ section.title }}</h1>
</div>

<div class="post-list">
  <ul>
    {% for page in section.pages %}
    <li >
      <div class="post-list-item">
        <a href="{{ page.permalink }}">
          <h1>{{ page.title }}</h1>
        </a>
        {% if page.description %}
          <p class="post-description">{{ page.description }}</p>
        {% elif page.summary and config.extra.show_descriptions %}
          <p class="post-description">{{ page.summary | striptags() | truncate(length=150,end="") | trim() | safe }}...</p>
        {% endif %}
        <span>{{ page.date | date(format="%Y-%m-%d")}}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
